/* ---- reset browser stylesheets---- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}




/* ---- typography ---- */
body {
  color: white;
}

h1 {
  color: white;
  font-size: calc(1.875rem + ((1vw - 3.2px) * 1.875));
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
}

h2 {
  color: white;
  font-size: calc(1.875rem + ((1vw - 3.2px) * 0.625));
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
}

.sins-text {
  font-family: 'Rozha One', serif;
  font-size: calc(1.25rem + ((1vw - 3.2px) * 0.3125));
  position: relative;
}

#destiny {
  color: white;
  font-size: calc(1.5625rem + ((1vw - 3.2px) * 0.3125));
  font-family: 'Permanent Marker', cursive;
}

.reset {
  font-size: calc(1.5625rem + ((1vw - 3.2px) * 0.3125));
  font-family: 'Permanent Marker', cursive;
}

button {
  color: white;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 40px red, 0 0 40px red, 0 0 6px red;
}

#destiny:hover {
  color: #fc9292;
}

.reset:hover {
  color: #fc9292;
}

#pardons {
  font-family: 'Rozha One', serif;
  font-size: 20px;
}

#sins-footer {
  font-family: 'Rozha One', serif;
  font-size: calc(0.9375rem + ((1vw - 3.2px) * 0.3125));
  position: absolute;
  bottom: 5%;
  margin: 0 auto; /* @todo fix this so it centers the text*/
}

/* add in some media queries to make the text and bg image more responsive, right now font size is static. try to keep it on one line. also in mobile only show 1 image of the heart above text*/


/* ---- layout ---- */

body {
  background-color: black;
}

.main-content {
  padding: 50px;
  background-color: black;
  text-align: center;
  height: 100vh;
  position: relative;
}

.splash-bg {
  background-image: url('images/heart-bg.gif');
  background-size: contain;
  height: 30vh;
}

.title-bg {
  background-color: black;
  padding: 30px;
}

#splash-img {
  display: none;
}

@media (max-width: 1024px) {
  .splash-bg {
    display: none;
  }

  #splash-img {
    display: block;
    margin: 0 auto;
  }

}

#pardons {
  position: absolute;
  top: 0;
  right: 20%;
}

#game-space {
  margin: 10vh;
  height: 60vh;
  position: absolute;
  top: 10%;
  left: 5%;
}


/* ---- components ---- */

.main-content img {
  width: 40%;
  max-width: 500px;
  min-width: 200px;
}

button {
  background-color: #080808;
  border: none;
  margin: 30px 0 0 0;
}

.player {
  width: 30px;
  height: 30px;
  background-color: greenyellow;
  position: absolute;
}

@media (max-width: 1024px) {
  .player {
    width: 20px;
    height: 20px;
  }
}




